.FullPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.TopNav{
    width: 100vw;
    height: 5vh;
    display: flex;
    background-color: #003c51;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.sidebarandbody{
    display: flex;
}

.sidebar{
    height: 95vh;
    width: 5vw;
    display: flex;
    background-color: #006e74;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.body{
    height: 95vh;
    width: 95vw;
    display: flex;
    background-color: #ecece1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.insideBody{
    display: flex;
    height: 91vh;
    width: 93vw;
    background-color: #afaf87;
    border-radius: 2vh;
    overflow: auto;
}
