.FullPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.TopNav {
  width: 100vw;
  height: 5vh;
  display: flex;
  background-color: #003c51;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.sidebarandbody {
  display: flex;
}

.sidebar {
  height: 95vh;
  width: 10vw;
  display: flex;
  background-color: #006e74;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.body {
  height: 95vh;
  width: 90vw;
  display: flex;
  background-color: #ecece1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insideBody {
  display: flex;
  margin-bottom: 10px;
  height: 88vh;
  width: 89vw;
  background-color: #e1d7bb;
  border-radius: 2vh;
  overflow: auto;
  flex-direction: row;
  align-items: flex-start;
}

.GridLayout{
  display: flex;
  height: 100% !important;
  width: 100%;
}

.savebutton{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 1vh 4vh 1vh 0;
}
